.DS_Store
.gitignore
Thumbs.db
.idea
.history/
.env
public/fileadmin/
public/typo3temp/
public/typo3conf/
public/typo3/
public/packages/setup_package/Resources/Private/Scss/.sass-cache
var/
!/vendor/
/vendor/*
!/vendor/typo314/