// add aspect ratio
$add-aspect-ratios:(
  "193x65": calc(65 / 193 * 100%),
  "150x51": calc(51 / 150 * 100%),
  "1024x640": calc(640 / 1024 * 100%)
);
$aspect-ratios: map-merge($aspect-ratios,$add-aspect-ratios);

// add position-value
$add-position-values: (
 "10": 10%,
 "20": 20%,
 "30": 30%,
 "40": 40%,
 "10px": 10px,
 "20px": 20px,
 "30px": 30px,
 "40px": 40px,
);
$position-values: map-merge($position-values,$add-position-values);

