@import "Setup";

// bootstrap5 Core CSS

@import "../../Public/Contrib/bootstrap/scss/root";
@import "../../Public/Contrib/bootstrap/scss/reboot";
@import "../../Public/Contrib/bootstrap/scss/type";
@import "../../Public/Contrib/bootstrap/scss/images";
@import "../../Public/Contrib/bootstrap/scss/containers";
@import "../../Public/Contrib/bootstrap/scss/grid";
@import "../../Public/Contrib/bootstrap/scss/tables";
@import "../../Public/Contrib/bootstrap/scss/forms";
@import "../../Public/Contrib/bootstrap/scss/buttons";

/// bootstrap5 Components
@import "../../Public/Contrib/bootstrap/scss/transitions";
@import "../../Public/Contrib/bootstrap/scss/dropdown";
//@import "../../Public/Contrib/bootstrap/scss/button-group";
@import "../../Public/Contrib/bootstrap/scss/nav";
@import "../../Public/Contrib/bootstrap/scss/navbar";
@import "../../Public/Contrib/bootstrap/scss/card";
@import "../../Public/Contrib/bootstrap/scss/accordion";
//@import "../../Public/Contrib/bootstrap/scss/breadcrumb";
@import "../../Public/Contrib/bootstrap/scss/pagination";
@import "../../Public/Contrib/bootstrap/scss/badge";
//@import "../../Public/Contrib/bootstrap/scss/alert";
//@import "../../Public/Contrib/bootstrap/scss/progress";
@import "../../Public/Contrib/bootstrap/scss/list-group";
@import "../../Public/Contrib/bootstrap/scss/close";   
//@import "../../Public/Contrib/bootstrap/scss/toasts";
//@import "../../Public/Contrib/bootstrap/scss/modal";
//@import "../../Public/Contrib/bootstrap/scss/tooltip";
//@import "../../Public/Contrib/bootstrap/scss/popover";
@import "../../Public/Contrib/bootstrap/scss/carousel";
//@import "../../Public/Contrib/bootstrap/scss/spinners";
@import "../../Public/Contrib/bootstrap/scss/offcanvas";
//@import "../../Public/Contrib/bootstrap/scss/placeholders";
@import "../../Public/Contrib/bootstrap/scss/helpers";
@import "../../Public/Contrib/bootstrap/scss/utilities/api";

// Custom - Margin + Frame styles from FluidStyledContent
@import "CustomStyles/FluidStyledContent";

// Custom - Navs
@import "CustomStyles/Navigations/Mega";
//@import "CustomStyles/Navigations/SidebarMenu";
//@import "CustomStyles/Navigations/ServiceNavigation";
//@import "CustomStyles/Navigations/SocialMedia";
// @import "CustomStyles/CustomForm";


@import "CustomStyles/ScrollToTop";

// Custom - Components
@import "CustomStyles/Slider";
@import "CustomStyles/Accordion";
//@import "CustomStyles/Tabs";
@import "CustomStyles/CardGroup";
// @import "CustomStyles/Buttons";
@import "CustomStyles/IconTeaser";
// @import "CustomStyles/TxNews";
//@import "CustomStyles/KeSearch";

// Custom Classes
@import "CustomStyles/CustomClasses";
@import "CustomStyles/ViewTransition";
