// Bootstrap functions
@import "../../Public/Contrib/bootstrap/scss/functions";
// add custom variables overwrite bootstrap variables
@import "CustomVariables/Font";
@import "CustomVariables/DefaultColors";
@import "CustomVariables/Variables";
@import "../../Public/Contrib/bootstrap/scss/variables";
//@import "../../Public/Contrib/bootstrap/scss/variables-dark";
@import "CustomVariables/RemoveFromMaps";
@import "CustomVariables/AddToMaps";
@import "../../Public/Contrib/bootstrap/scss/maps";

// add custom mixins overwrite bootstrap mixins
@import "../../Public/Contrib/bootstrap/scss/mixins";
@import "CustomVariables/CustomMixins";

// add custom utilities overwrite/extend bootstrap utilities
@import "../../Public/Contrib/bootstrap/scss/utilities";
@import "CustomVariables/Utilities";

//  custom Bootstrap Icons
//@import "CustomStyles/BootstrapIcons/Iconteaser";
@import "CustomStyles/BootstrapIcons/BootstrapIcons";