.scroll-to-top-btn {
  display: none;
  bottom: 80px;
  right: 20px;
  cursor: pointer;
  font-size: $font-size-icon;
  line-height: $line-height-sm !important;
  /*transform: translateY(100px);*/
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.4s ease-in-out;
}

#backtotop.show {
  display: inline-block;
  /*transform: translateY(0);*/
  opacity: 1;
  visibility: visible;
}