.img-filter {
    filter: brightness(60%);
}

.slogan span {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    font-size: $font-size-xlg;
}

.slogan span + span {
    font-size: $font-size-lg;
}

.carousel-indicators[data-bs-target] { 
    text-indent: 0;
}

.carousel-indicators {
    bottom: 1.25rem;
}

.carousel-indicators .active {
    background-color: $primary;
    animation: rotate-in 1s;
}

@include media-breakpoint-up(lg) { 

    .carousel {
        .carousel-control-prev,
        .carousel-control-next {
        transition: width 1.2s ease-in-out;
        width: 8%;
        }
    }

    .carousel:hover {
        .carousel-control-prev,
        .carousel-control-next {
        transition: width 1.2s ease-in-out;
        width: 15%;
        }
    }
 }
 
 @include media-breakpoint-down(md) {
     .carousel-control-prev {
         left: .1875rem;
     }

     .carousel-control-next {
         right: .1875rem;
     }
 }

 .fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1ms;
    animation-timing-function: ease-in-out;
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1ms;
    animation-timing-function: ease-in-out;
}

.text-shadow-hero {
    text-shadow: 2px 1px 2px #adb5bd;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: .9;
  }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  @keyframes rotate-in {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  