 /* Space */
 .frame-space-before-extra-small { margin-top: 1em; }
 .frame-space-before-small { margin-top: 2em; }
 .frame-space-before-medium { margin-top: 3em; }
 .frame-space-before-large { margin-top: 4em; }
 .frame-space-before-extra-large { margin-top: 5em; }
 .frame-space-after-extra-small { margin-bottom: 1em; }
 .frame-space-after-small { margin-bottom: 2em; }
 .frame-space-after-medium { margin-bottom: 3em; }
 .frame-space-after-large { margin-bottom: 4em; }
 .frame-space-after-extra-large { margin-bottom: 5em; }

 /* Frame */
 .frame-ruler-before:before { content: ''; display: block; border-top: 1px solid rgba(0,0,0,0.25); margin-bottom: 2em; }
 .frame-ruler-after:after { content: ''; display: block; border-bottom: 1px solid rgba(0,0,0,0.25); margin-top: 2em; }
 .frame-indent { margin-left: 15%; margin-right: 15%; }
 .frame-indent-left { margin-left: 33%; }
 .frame-indent-right { margin-right: 33%; }


 //
// Fluid_styled_content css - a overwriten copy from fluid systempackage
//
.ce-align-left {
    text-align: left;
}

.ce-align-center {
    text-align: center;
}

.ce-align-right {
    text-align: right;
}

.ce-table td, .ce-table th {
    vertical-align: top;
}

.ce-gallery  {
    //width: $styles-content-textmedia-ce-gallerySingleImageWidth;
    @include media-breakpoint-down(sm)  {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.ce-gallery.gallery-multi-image {
    width: $styles-content-textmedia-ce-galleryMultiImageWidth;
}

.ce-intext .ce-gallery.gallery-multi-image {
    width: $styles-content-textmedia-ce-galleryMultiImageWidthInText;
    @include media-breakpoint-down(sm)  {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.ce-bodytext p {
    transform: translateY(-4px);
}

.ce-left .ce-gallery, .ce-column {
    float: left;
    @include media-breakpoint-down(sm)  {
        float: none;
    }
}

.ce-right .ce-gallery {
    float: right;
    @include media-breakpoint-down(sm)  {
        float: none;
    }
}

.ce-gallery figure {
    display: block;
    margin: 0;
}

.ce-gallery figcaption {
    display: table-caption;
    caption-side: bottom;
}

.ce-gallery img {
    display: block;
}

.ce-gallery iframe {
    border-width: 0;
}

.ce-intext.ce-right .ce-gallery, .ce-intext.ce-left .ce-gallery, .ce-above .ce-gallery {
    margin-bottom: $styles-content-textmedia-textMargin;
}

.ce-image .ce-gallery {
    margin-bottom: 0;
}

.ce-intext.ce-right .ce-gallery {
    margin-left: $styles-content-textmedia-textMargin;
    @include media-breakpoint-down(sm) {
        margin-left: $styles-content-textmedia-textMarginResponsive;
        margin-bottom: $styles-content-textmedia-textMargin;
    }
}

.ce-intext.ce-left .ce-gallery {
    margin-right: $styles-content-textmedia-textMargin;
    max-width: 50%;
    @include media-breakpoint-down(sm) {
        margin-right: $styles-content-textmedia-textMarginResponsive;
        margin-bottom: $styles-content-textmedia-textMargin;
    }
}

.ce-below .ce-gallery {
    margin-top: $styles-content-textmedia-textMargin;
}

.ce-column {
    margin-right: $styles-content-textmedia-columnSpacing;
    width: 100%
}

.ce-column:last-child {
    margin-right: 0;
}

.ce-row {
    margin-bottom: $styles-content-textmedia-rowSpacing;
}

.ce-row:last-child {
    margin-bottom: 0;
}

.ce-above .ce-bodytext {
    clear: both;
}
/*
.ce-intext.ce-left ol, .ce-intext.ce-left ul {
    overflow: auto;
}*/

/* adaptive images with fluid_styled_content
.rb {
    position: relative;
    height: 0;
    display: block;
    width: 100%;
  }              
  .rb img,
  .rb picture,
  .rb iframe,
  .rb video { 
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }

  @include media-breakpoint-down(sm)  {
  .rb img,
  .rb picture,
  .rb iframe,
  .rb video { 
    position: absolute;
    height: 100%;
  }
  .ce-above ce-gallery.gallery-multi-image .ce-column {
      width: $styles-content-textmedia-ce-galleryMultiImageWidth;
      margin: 0  
    }
}*/
